<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Finances</title>
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="{{url_for('static',filename='css/styles.css')}}">
</head>
<body>
    <div class="container mt-5">
        <div class="container mt-5">
            <form method="POST" action="/cadastraDespesa">
                <p class="h2">Cadastro de Despesas</p>

                <div class="form-outline mb-4">
                    <label class="form-label" for="nome">Nome</label>
                    <input type="text" step="0.01" id="nome" name="nome" class="form-control" required />
                </div>
    
                <div class="form-outline mb-4">
                    <label class="form-label" for="valor">Valor</label>
                    <input type="number" step="0.01" id="valor" name="valor" class="form-control" required />
                </div>
    
                <div class="form-outline mb-4">
                    <label class="form-label" for="data">Data</label>
                    <input type="date" id="data" name="data" class="form-control" required />
                </div>
    
                <div class="form-outline mb-4">
                    <label class="form-label" for="tipo">Tipo</label>
                    <input type="text" id="tipo" name="tipo" class="form-control" required />
                </div>
    
                <button type="submit" class="btn btn-primary btn-block mb-4">Registrar Despesa</button>
            </form>
        </div>
    </div>
</body>
</html>