<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
    <title>Document</title>
</head>

<body>
    <div class="container mt-5">
        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Valor</th>
                    <th>Tipo</th>
                    <th>Data</th>
                </tr>
            </thead>
            <tbody>
                {% for despesa in despesas %}
                <tr>
                    <td>{{ despesa.id }}</td>
                    <td>{{ despesa.valor }}</td>
                    <td>{{ despesa.tipo }}</td>
                    <td>{{ despesa.data }}</td>
                </tr>
                {% else %}
                <tr>
                    <td colspan="4" class="text-center">Nenhuma despesa encontrada.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>

</html>